body {
  background-color: black;
}

.container {
    background-color: black;
    display: grid;
    place-items: center;
  }
  
  
  h1 {
    font-family: 'Monoton', cursive;
    color: #c6e2ff;
    font-size: 50pt;
    font-weight: 100;
    letter-spacing: 1rem;
    text-shadow: 0 0 1px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  h3 {
    text-transform: uppercase;
    color: #c6e2ff;
    font-family: Roboto;
    font-size: 1rem;
  }

  #start-button {
    padding: 15px;
    margin: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    text-transform: uppercase;
    border: 1px outset #c6e2ff;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #c6e2ff;
    font-family: Roboto;
    font-size: 1rem;
  }
  
  .grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }
  
  .tetromino {
    background-color: blue;
  }
  
  
  .mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: chartreuse;
  }
  
  .mini-grid div {
    height: 20px;
    width: 20px;
  }